argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.4.1
asttokens==2.0.5
bcrypt==3.2.0
cffi==1.15.0
click==8.0.3
Django==3.2.9
executing==0.8.2
Faker==10.0.0
Flask==2.0.2
greenlet==1.0.0
heartrate==0.2.2
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
Pillow==8.4.0
pycparser==2.21
Pygments==2.10.0
python-dateutil==2.8.2
pytz==2021.3
six==1.16.0
SQLAlchemy==1.4.0
sqlparse==0.4.2
text-unidecode==1.3
Werkzeug==2.0.2
